.wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.banner_desc {
    display: block;
    z-index: 2;
    text-shadow: none;
    margin: 0;
    max-width: none;
    position: absolute;
    top: 86%;
    right: 0;
    width: 100%;
    padding: 10px 15px 5px;
    background: rgba(3, 3, 3, 0.45);
}
ul.list_1 li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    margin-right: 5%;
}

ul.list_1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

span.m_1 {
    font-size: 14px;
    color: #cb242a;
}

.grid_1 {
    padding-right: 0!important;
}

i.icon1, i.icon2, i.icon3 {
    width: 20px;
    height: 20px;
    background: url(../images/img_sprite.png) -7px -42px;
    float: left;
    margin-right: 8%;
}

ul.list_2 li {
    display: inline-block;
    width: 32%;
    margin-right: 0;
}

.header-banner {
    position: relative;
}

.header-banner p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer {
    background: #212121;
    padding: 2em 0;
	text-align:center;
}


#cinema {
border: 3px solid red;
background-image: url("../images/cinema.jpg");
height: 300px;
width: 350px;
}

.btn-search {
	border-radius:3px;
	border-color:#fff;
	color:#fff;
}

.search .form-control {
    height: 38px;
}